<h1> About Me </h1>

<p> I like technology and sports. I discovered these passions early on in life and have pursued them ever since. I was born in Uruguay and Moved to Miami soon after. As a web developer I embrace solving the challenges that arise on a daily basis. Aside from web development, I enjoy running and spending time with my family and dog. </p>


