
<div class="sections">
  <div class="center">
    <h2> About Me </h2>

    <p> Technology is my biggest passion and is what led me to become a web developer.I am bilingual having lived in both Uruguay and Miami. As a web developer, I embrace solving the challenges that arise on a daily basis. Aside from web development, I enjoy running, cycling and spending time with my family. </p>
  <div>
</div>


