<div class="sections">
  <div class="center">

    <a href="https://github.com/alfonsopintos">
    <%= image_tag 'github.png', height:'100px' %>
    </a>

    <a href="https://www.linkedin.com/pub/alfonso-pintos/a5/328/2a">
    <%= image_tag 'linkedin.png', height:'100px' %>
    </a>

  </div>
</div>