<div class="sections">
  <div class="center">
    <h1> Skills </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel mi ac felis lacinia accumsan vitae nec neque. Pellentesque nunc tellus, suscipit vel condimentum eu, dapibus dignissim tortor. Etiam ullamcorper est quis est congue, et convallis quam hendrerit. Vivamus arcu metus, mollis sed justo sed, laoreet viverra tellus. Curabitur sollicitudin quis tortor vel interdum. Duis mauris nulla, vestibulum in ipsum quis, egestas lacinia nisl. Nam sodales nisl tortor, nec pharetra velit varius vitae. Suspendisse vel metus ante. Curabitur sagittis mauris ultrices, porttitor massa in, sodales quam. Nullam non rhoncus elit. Donec rutrum ex neque, eu commodo ligula molestie nec. Vestibulum luctus nisi non orci congue ornare. Aliquam aliquet pulvinar mi, accumsan ultricies odio cursus euismod </p>
  </div>
</div>