/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *=
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require_tree .
 *= require_self
 */


.center {
  text-align: center;
}
 /*Pushes down and narrows field*/
.sections {
  padding: 20vh 250px;
}

.logo_sections {
  padding: 10vh 250px;
}

.row{
  padding-top: 20px;
}
.grey_color{
  background-color: #c3c3c3;
}
